<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

<title><% title %></title>
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<div id="page">
  <div id="sidebar">
    <ul id="sidebar-items">
      <li>
        <% INCLUDE incl/thumbnail.tt %>
         
        <h3>Other sites</h3>
        <ul>
          <li><a href="http://yapc.tv/">YAPC.TV</a></li>
          <li><a href="http://www.presentingperl.org/">Presenting Perl</a></li>
          <li><a href="http://videos.missbarbell.co.uk/">2006 and 2007 Perl event videos</a></li>
        </ul>

        <h3>Daily video</h3>
        <a href="/daily.atom"><img src="/images/feed-icon32.png" /></a><br>
        Get daily selected video via 
        <a href="/daily.atom">atom feed</a>.
        <h3>Videos</h3>
        <ul>
          <li><a href="/all">All</a></li>
          <li><a href="/source">Sources</a></li>
          <li><a href="/tag">Tags</a></li>
          <li><a href="/module">Modules</a></li>
          <li><a href="/people">People</a></li>
        </ul>

        <% INCLUDE incl/social_share.tt %>
      </li>
      <% INCLUDE incl/tags.tt %>
      <% INCLUDE incl/modules.tt %>
    </ul>
  </div>
  <div id="content">
    <% content %>
  </div>
</div>



<div id="footer">
<a href="https://github.com/szabgab/perltv.org">Source code</a> | <a href="/legal">Legal</a> | <a href="/daily.atom">RSS</a> | <a href="http://perlmaven.com/">Perl programming</a> | <a href="/about">About</a>
</div>


<% INCLUDE incl/statistics.tt %>
</body>
</html>
