<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel=alternate type="application/atom+xml" title="Perl TV" href="<% request.uri_base %>/atom.xml">

  <title><% title %></title>
  <link rel="stylesheet" href="/css/style.css?24-08-2014" />
</head>
<body>

<div id="page">
  <div id="content">
    <% content %>

  </div>

  <div id="sidebar">
  <h1><a href="/">Perl TV</a></h1>
    <% IF edit %>
      <a href="https://github.com/szabgab/perltv.org/tree/main/data/<% edit %>">edit this page</a>
    <% END %>

    <ul id="sidebar-items">
      <li>
        <% INCLUDE incl/thumbnail.tt %>
         
        <h3>Other sites</h3>
        <ul>
          <li><a href="http://www.presentingperl.org/">Presenting Perl</a></li>
          <li><a href="http://videos.missbarbell.co.uk/">2006 and 2007 Perl event videos</a></li>
        </ul>


      <% IF show_toggles %>
        <h3>Toggles</h3>
        <button id="show_date">date</button>
        <button id="show_featured">featured</button>
        <button id="show_length">length</button>
      <% END %>

        <h3>Featured videos</h3>
        <a href="/atom.xml"><img src="/images/feed-icon32.png" /></a><br>
        Get regular selected videos via 
        <a href="/atom.xml">atom feed</a>.
        <h3>Videos</h3>
        <ul>
          <li><a href="/featured">Featured</a></li>
          <li><a href="/all">All</a></li>
          <li><a href="/source">Sources</a></li>
          <li><a href="/tag">Tags</a></li>
          <li><a href="/module">Modules</a></li>
          <li><a href="/people">People</a></li>
          <li><a href="/language">Languages</a></li>
        </ul>

        <% INCLUDE incl/social_share.tt %>
      </li>
      <% INCLUDE incl/tags.tt %>
      <% INCLUDE incl/modules.tt %>
    </ul>
  </div>
</div>

<div id="footer">
<a href="https://github.com/szabgab/perltv.org">Source code</a> | <a href="/legal">Legal</a> | <a href="/atom.xml">RSS</a> | <a href="http://perlmaven.com/">Perl programming</a> | <a href="/about">About</a>
</div>


<% INCLUDE incl/statistics.tt %>
</body>
</html>
<script src="/javascripts/perltv.js"></script>


