body {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  background-color: #ddd;
  background-repeat: no-repeat;
  background-position: top left;

  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
 
  text-decoration: none;
}

h1 {
  font-size: 28px;
  color: #000;
}

a {
  color: #03c;
  text-decoration: none;
}
a:hover {
  background-color: #03c;
  color: white;
  text-decoration: none;
}

#page {
  background-color: #ddd;
  width: 950px;
  margin: auto;
  margin-left: auto;
  padding-left: 0px;
  margin-right: auto;
}

#content {
  background-color: white;
  border: 3px solid #aaa;
  border-top: none;
  padding: 0px;
  width: 700px;
}

#sidebar {
  margin-top: 20px;
  float: right;
  width: 175px;
}

#header, #text, #modules, #tags {
 padding-left: 75px;
 padding-right: 30px;
}


#header {
  background-repeat: no-repeat;
  background-position: top left;
  height: 364px;
}
#header h1, #header h2 {margin: 0}
#header h1 {
  margin-bottom: 20px;
}

#text {
  border-top: 1px solid #ccc;
  margin-top: 25px;
  padding-top: 15px;
}
#text h1 {
margin: 0;
font-size: 20px;
}

#text ol {
margin-left: 0;
padding-left: 0;
}
#text li {
font-size: 18px;
color: #888;
margin-bottom: 25px;
}
#text li h2 {
margin: 0;
font-weight: normal;
font-size: 18px;
color: #333;
}
#text li p {
color: #555;
font-size: 13px;
}

#search {
margin: 0;
padding-top: 10px;
padding-bottom: 10px;
font-size: 11px;
}
#search input {
font-size: 11px;
margin: 2px;
}
#search-text {width: 170px}

#sidebar ul {
margin-left: 0;
padding-left: 0;
}
#sidebar ul h3 {
margin-top: 25px;
font-size: 16px;
padding-bottom: 10px;
border-bottom: 1px solid #ccc;
}
#sidebar li {
list-style-type: none;
}
#sidebar ul.links li {
margin-bottom: 5px;
}

h1, h2, h3, h4, h5 {
font-family: sans-serif;
margin: 1.2em 0 0.6em 0;
}

p {
line-height: 1.5em;
margin: 1.6em 0;
}

code, tt {
    font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}

#footer {
clear: both;
padding-top: 2em;
text-align: center;
padding-right: 160px;
font-family: sans-serif;
font-size: 10px;
}

#modules li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

#tags li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

#featured ul {
  padding-left: 0px;
}
#featured li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

