body {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  background-color: #FFF;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
 
  text-decoration: none;
}

h1 {
  font-size: 28px;
  color: #000;
}

a {
  color: #03c;
  text-decoration: none;
}
a:hover {
  background-color: #EEE;
}

#page {
  margin: auto;
  margin-left: auto;
  padding-left: 0px;
  margin-right: auto;
  clear: both;
}

#content {
  background-color: #FFF;
  padding: 0px;
  float: left;
  width: 70%;
}

#sidebar {
  float: left;
  width: 220px;
  padding-left: 20px;
  top 0;
  right 0;
}

#text {
  padding-left: 15px;
  padding-right: 30px;
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 15px;
  max-width: 700px;
}
#text h1 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
}

#sidebar ul {
  margin-left: 0;
  padding-left: 0;
}
#sidebar ul h3 {
  margin-top: 25px;
  font-size: 16px;
  padding-bottom: 10px;
}
#sidebar li {
  list-style-type: none;
}
#sidebar ul.links li {
  margin-bottom: 5px;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
  margin: 1.2em 0 0.6em 0;
}

p {
  line-height: 1.5em;
  margin: 1.6em 0;
}

code, tt {
  font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}

#footer {
  clear: both;
  padding-top: 2em;
  text-align: center;
  padding-right: 160px;
  font-family: sans-serif;
  font-size: 10px;
}

#modules li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

#tags li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
li {
  list-style-type: none;
}
ul {
  padding-left: 0px;
}
#featured li {
  display: inline;
  padding-right: 20px;
}

#embed iframe {
  width: 320px;
  height: 180px;
}
@media (min-width: 840px) {
   #embed iframe {
     width: 560px;
     height: 315px;
   }
}

@media (min-width: 960px) {
   #embed iframe {
     width: 640px;
     height: 360px;
   }
}

@media (min-width: 1260px) {
   #embed iframe {
     width: 853px;
     height: 480px;
   }
}

.date {
	float: left;
	width: 85px;
}

.featured {
	float: left;
	width: 85px;
}

.length {
	float: left;
	text-align: right;
	width: 65px;
	padding-right: 5px;
}


.sort_date, .sort_featured, .sort_title, .sort_length {
	cursor: pointer;
}


