   <% IF video.speaker_home %>
     Speaker: <a href="/people/<% video.speaker %>"><% video.speaker_name %></a>
   <% ELSE %>
     Speaker: <% video.speaker_name %>
   <% END %>
   <% IF video.speaker_nickname %>(<% video.speaker_nickname %>)<% END %>

